/Software_construction/Java001/TestEx/nbproject/private/
/Software_construction/Java001/TestEx/build/
/Software_construction/Java001/TestEx/dist/
/Software_construction/Java002/Testmath/nbproject/private/
/Software_construction/Java002/Testmath/build/
/Software_construction/Java003/TestCon/nbproject/private/
/Software_construction/Java003/TestCon/build/
/Software_construction/Java004/TestPoly/nbproject/private/
