USE [master]
GO
/****** Object:  Database [books]    Script Date: 2/17/2022 4:24:01 PM ******/
CREATE DATABASE [books]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'books', FILENAME = N'D:\MSSQL15.MSSQLSERVER\MSSQL\DATA\books.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'books_log', FILENAME = N'D:\MSSQL15.MSSQLSERVER\MSSQL\DATA\books_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [books].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [books]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 2/17/2022 4:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[author_id] [int] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[middle_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
 CONSTRAINT [PK_authors] PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_authors]    Script Date: 2/17/2022 4:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_authors](
	[book_id] [int] NOT NULL,
	[author_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2/17/2022 4:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[total_pages] [int] NULL,
	[rating] [decimal](4, 2) NULL,
	[isbn] [varchar](13) NULL,
	[published_date] [date] NULL,
	[publisher_id] [int] NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 2/17/2022 4:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[publisher_id] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK__publishe__3263F29DA4B50EF0] PRIMARY KEY CLUSTERED 
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[authors] ([author_id], [first_name], [middle_name], [last_name]) VALUES (1, N'Merritt', NULL, N'Eric')
INSERT [dbo].[authors] ([author_id], [first_name], [middle_name], [last_name]) VALUES (2, N'Linda', NULL, N'Mui')
INSERT [dbo].[authors] ([author_id], [first_name], [middle_name], [last_name]) VALUES (3, N'Alecos', NULL, N'Papadatos')
GO
INSERT [dbo].[book_authors] ([book_id], [author_id]) VALUES (1, 176)
INSERT [dbo].[book_authors] ([book_id], [author_id]) VALUES (1, 533)
INSERT [dbo].[book_authors] ([book_id], [author_id]) VALUES (1, 657)
GO
INSERT [dbo].[books] ([book_id], [title], [total_pages], [rating], [isbn], [published_date], [publisher_id]) VALUES (1, N'Lean Software Development: An Agile Toolkit', 240, CAST(4.17 AS Decimal(4, 2)), N'9780320000000', CAST(N'2003-04-18' AS Date), 1)
INSERT [dbo].[books] ([book_id], [title], [total_pages], [rating], [isbn], [published_date], [publisher_id]) VALUES (2, N'Facing the Intelligence Explosion', 91, CAST(3.87 AS Decimal(4, 2)), NULL, CAST(N'2013-02-01' AS Date), 1)
INSERT [dbo].[books] ([book_id], [title], [total_pages], [rating], [isbn], [published_date], [publisher_id]) VALUES (3, N'Scala in Action', 419, CAST(3.74 AS Decimal(4, 2)), N'9781940000000', CAST(N'2013-04-10' AS Date), 111)
GO
INSERT [dbo].[publishers] ([publisher_id], [name]) VALUES (1, N'O''Reilly Media')
INSERT [dbo].[publishers] ([publisher_id], [name]) VALUES (2, N'A book Apart')
INSERT [dbo].[publishers] ([publisher_id], [name]) VALUES (3, N'A K PETERS')
GO
ALTER TABLE [dbo].[book_authors]  WITH CHECK ADD  CONSTRAINT [fk_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([author_id])
GO
ALTER TABLE [dbo].[book_authors] CHECK CONSTRAINT [fk_author]
GO
ALTER TABLE [dbo].[book_authors]  WITH CHECK ADD  CONSTRAINT [fk_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[book_authors] CHECK CONSTRAINT [fk_book]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publishers] ([publisher_id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_publishers]
GO
USE [master]
GO
